body {
  background-color: #BBDEFB;
}

.container-fluid{
  padding: 3% 10% 7%;
}

.matrixlogo {
  width: 100%;
  border: 3px solid #1565C0;
}

.navbar {
  margin: auto;
}

.navbar-brand{
  width: 400px;
}

.nav-item {
  padding: 0 10px;
  margin-left: 0;
  font-size: 4rem;
}

.dropdown-menu {
  font-size: 4rem;
}

.flag-img {
  width: 15%;
}

.PDF-icon {
  width: 8%;
}

.mp3-icon {
  width: 50%;
}

.lesson {
  margin: 30px auto;
}

.row {
  margin: 30px auto 100px;

}

.lesson-h1{
  margin: auto;
  font-size: 4rem;
}

.lesson-h6 {
  margin: 26px auto;
  font-size: 3rem;
}

footer {
  margin: 0;
  height: 80px;
  background-color: #64B5F6;
  text-align: center;
  padding-top: 25px;
  font-size: 1.2rem;
}

/* go to top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 99;
  font-size: 2.5rem;
  border: none;
  outline: none;
  background-color: #1E88E5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


/* dropdown navbar item */

.sub-dropdown-item:after {
  transform: rotate(-90deg);
  vertical-align: 0.2em;
}
.myDropdown {
  top: auto;
  left: 95%;
  margin-top: -2em;
}

@media screen and (max-width: 1198px) {
  .myDropdown {
    padding: 2em 2em 0;
    background: #f9f9f9;
  }
}
